<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
  <!-- Do not need to specify "public" directory. It is invisible to the client -->
    <header><img src="/img/cute-cat.jpeg" alt="cute cat"></header>
    {{{body}}}
  </body>
</html>